p{
    color: rgb(200, 10, 10);
    background-color: rgb(154, 207, 215)
}

h1{
    background-color: rgb(240, 200, 200);
}

/* Notes - RGB

- RGB = Red, Green, Blue color model.
- Syntax: rgb(R, G, B)
- Value range: 0–255 for each color.

- 0   = no intensity
- 255 = full intensity

Examples:
  rgb(255, 0, 0)     → red
  rgb(0, 255, 0)     → green
  rgb(0, 0, 255)     → blue
  rgb(0, 0, 0)       → black
  rgb(255, 255, 255) → white*/