body{
    padding: 0;
    margin: 0;
    font-family: 'Forum', serif;
}

.hero{
    background-color: #f08e80;
    height:90vh;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 24px 32px;
}

.navbar .link a{
    color: white;
    text-decoration: none;
    margin-right: 16px;
    font-size: 1.2rem;
}

.navbar p{
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.navbar .contact{
    color: #f08e80;
    background-color: white;
    text-decoration: none;
    padding: 16px 24px;
}

.narbar .contact:hover{
    opacity: 0.8;
}

.hero-content{
    padding: 0 15%;
    color: white; 
}

.tagline{
    font-size: 4.5rem;
    letter-spacing: 2px;
    padding: 32px 0;
}